html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f2f0;
  color: #000;
  margin: 0;
  padding: 1rem;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

h1 h2 {
  font-family: "Denk One";
  color: #623b0c;
}

ol li {
  border: solid 2px #623b0c;
  border-radius: 8px;
  background-color: #ede3db;
  margin: 1.5rem;
}

li a {
  background-color: #623b0c;
  color: #fff;
  border: solid 2px #623b0c;
  border-radius: 8px;
  text-decoration: none;
  padding: .5em .75em .6em;
}

main ol {
  text-decoration: none;
  width: 50%;
}
